*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
}

body{
    overflow-x: hidden;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(./bg.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;

}

section .main{
    margin: 1px;
    padding: 40px;
} 

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}

section nav li a:hover{
    color: #089da1;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    color: #089da1;
    cursor: pointer;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10px;
}

section .main h1{
    position: absolute;
    font-size: 55px;
    top: 150px;
    left: 25px;
}

section .main h1 span{
    color: #089da1;
}

section .main p{
    width: 400px;
    text-align: justify;
    line-height: 22px;
    position: absolute;
    top: 300px;
    left: 25px;
}

section .main .main_tag .main_btn{
    background: #089da1;
    padding: 10px 20px;
    position: absolute;
    top: 480px;
    border-radius: 5px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}

section .main .main_img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 70px;
}

/* services */


.services{
    width: 100%;
    height: auto;
    margin: 35px 17px;
    display: flex;
}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #089da1;
    padding: 15px 10px;
}

.services .services_box .services_card i{
    color: #089da1;
    font-size: 45px;
    cursor: pointer;
}

.services .services_box .services_card h3{
    margin: 10px;
}
 


/* about */

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_image img{
    width: 800px;
}

.about .about_tag h1{
    
    font-size: 50px;
    position: relative;
    bottom: 35px;
}

.about .about_tag p{
    line-height: 22px;
    width: 500px;
    text-align: justify;
    margin-bottom: 15px;
}

.about .about_tag .about_btn{
    padding: 10px 20px;
    background: #089da1;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;
    border-radius: 5px;
}

/*books*/

.featured_books{
    width: 100px;
    height: 60vh;
    padding: 70px 10px;
}

.featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-inline-start: 650px;
    font-size: 45px;
}

.featured_books .featured_book_box{
    width: 1350px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 440px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.featured_books .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.featured_books .featured_book_box .featured_book_card .featured_book_img img{
    width: 150px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag h2{
    margin: 12px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag .write{
    color: #919191;
    font-size: 22px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag .categories{
    color: #089da1;
    margin-top: 8px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgb(0,0,0,0,2);
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}


/*arrivals*/

.arrivals{
    width: 1350px;
    height: 100vh;
    margin-bottom: 80px;
    margin-top: 40%;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.arrivals .arrivals_box{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 45px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 200px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0,0,0,0,5);
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 150px;
    height: 90%;
    padding-top: 10px;
    object-fit: cover;
    object-position: center;
    transition: 0 3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px o;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

/*reviews*/

.reviews{
    width: 100%;
    height: 100vh; 
    width: 1350px;
    height: 100vh;
    margin-top: 250px; 
}

.reviews h1{
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.reviews .reviews_box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .reviews_box .reviews_card{
    width: 800px;
    height: 320px;
    box-shadow: 0 0 8px #089da1;
    margin: 0 12px;
}

.reviews .reviews_box .reviews_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}

.reviews .reviews_box .reviews_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.reviews .reviews_box .reviews_card .card p{
    margin: 10px 10px 10px 10px;
    text-align: justify;
    line-height: 22px;
}

.reviews .reviews_box .reviews_card .card h2{
    margin-left: 15px;
}

.reviews .reviews_box .reviews_card .reviews_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #089da1;
    padding: 8px 1px;
    margin-left: 10px;
}

/*banner*/

.banner{
    width: 100%;
    height: 50vh;
    margin-top: -100px;
    background-image: url(./banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner .banner_btn{
    padding: 8px 20px;
    background: #089da1;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}

/*blog*/

.blog{
    width: 100%;
    height: 70vh;
    margin: 150px 0px;
}


#blog_heading{
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

.blog .blog_box{
    width: 100%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .blog_box .blog_card{
    width: 800px;
    height: 500px;
    margin-top: 800px;
    box-shadow: 0 0 8px #089da1;
    margin: 0 12px;
}

.blog .blog_box .blog_card .blog_img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag{
    padding: 20px;
}

.blog .blog_box .blog_card .blog_tag h2{
    color: #089da1;
}

.blog .blog_box .blog_card .blog_tag p{
    margin: 10px;
    text-align: justify;
    line-height: 22px;
}



/*footer*/





footer{
    background-color: #000000ff;
    position: relative;
    width: 110%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}

#company{
    margin-left: -80px;
}

.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:#089da1;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #089da1;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:#089da1;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #089da1;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#089da1;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
.row .form input{
   background-color: #f2f2f2;
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #089da1;
}


.row p{
    color: #eaeaea;
    font-size: 10px;
}











































































